.AboutUsContainer{
    background-image: url("https://image.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg");
    background-size:60% 80%;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 500px;
    .Rows1{
        min-height: 600px;
        display: flex;
        align-items: center;
        .TypographyRows1{
            .ty1rows1Title{
                font-weight: bold;
            }
            .ty1rows1Para{
                font-size: large;
            }
        }
        .btn{
            background: repeating-radial-gradient(rgb(100, 133, 186),rgb(110, 175, 231));
            border-radius: 5px;
            color: white;
            height: 45px;
            width: 130px;
            font-size: 20px ;
        }
    }    
}
.Rows2{
    background-image: url("https://livewp.site/wp/md/ewebot/wp-content/uploads/sites/64/2020/07/home7_bg01.jpg");
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0;
    .TypographyRows1{
        .ty1rows1Para{
            font-size: large;
        }
    }
}
.Rows3{
    padding: 4rem 0;
    .TypographyRows1{
        margin-bottom:2rem;
        .ty1rows1Para{
            font-size: large;
            color: rgb(90, 80, 164);
            margin: 0;
        }
        .ty1rows1Title{
            color: rgb(90, 80, 164);
            margin-top: 0;
        }
    }
    .cards{
        background: rgb(255, 255, 255);
        box-shadow: 0px 0px 15px 10px rgb(226, 225, 225);
    }
}
@media screen and (max-width:"1024px") {
    .AboutUsContainer{
        background-image:none;
        background: rgb(216, 239, 253);
       
    }
}