.contactCon1{
    background-image: url("https://image.freepik.com/free-vector/email-marketing-internet-chatting-24-hours-support_335657-3009.jpg");
    background-size:60% 80%;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 700px;
    padding: 5rem 0rem;
    .Row1{
        background: none;
        box-shadow: 0px 0 10px 5px rgb(240, 239, 239);
        .form{
            padding-bottom: 52px;
            .input{
               background: rgb(241, 248, 255);
               height: 45px;
               border-radius: 5px;
               font-size: 23px;
               color: rgb(59, 59, 247);
               
            }
            input::placeholder{
                color: blue;
                opacity: .5;
            }
            textarea::placeholder{
                color: blue;
                opacity: .5;
            }
            textarea{
                font-size: 23px;
                background: rgb(241, 248, 255);
                color: rgb(59, 59, 247);
            }
            .button{
                font-size: 26px;
                height: auto;
                border-radius: 8px;
            }
  
        }
    }
  
}
@media screen and (max-width:"1024px") {
    .contactCon1{
        background-image:none;       
    }
}