// .Row1{
//     background-image:  linear-gradient(rgba(46, 37, 37, 0.7),rgba(29, 26, 26, 0.7), rgba(54, 35, 35, 0.7)), url("https://cdn-cbcei.nitrocdn.com/YkcnVhLbKUHoYWWwWRBupzjtYdcuUvaM/assets/static/optimized/rev-339abd7/wp-content/uploads/2021/03/Agency-Staff-scaled.jpg");
//       background-size: cover;
// }
// .conContainer{
//     padding: 2rem 0 2rem 0;
//     background:rgb(255, 255, 255);
//     .inputformfield{
//         height: 45px;
//         border: 1px solid black;
//     }

// }