.layout{
z-index: 0;

    .contents{
        min-height: 100vh;
  
        .Row2{
            margin:3rem;
        }
        .Row3{
            background-color: rgb(42, 43, 51);
            padding-bottom: 2rem;
            .Row3Col1{
                margin: 3rem 0 1rem 0;
                padding: 0px 1rem;
                .Row3Typography{
                    .title{
                        color: white;
                    }
                }
            }
            .subRow2{
                .whiteText{
                    .whiteTextPara{
                        color: white;
                    }
                }
            }
        }
        .Row4{
            padding: 2rem 0;
        }
        .Row5{
            background-color: rgb(228, 226, 226);
            padding: 5rem 0;
        }
        .Row6{
            padding: 2rem 0;
            .Cards{
                background-color: white;
                box-shadow: 0px 0px 10px 5px rgb(231, 231, 231);
                border-radius: 5px;
            }
        }
    }
}