.formContiner{
    background-color: rgb(212, 230, 233);      
    .FormRow{
        padding: 3rem 0;
        .FormCol{
            position: relative;
            background-color: white;
            padding: 0 10px;
            padding-top: 1.5rem;
            padding-bottom: 2rem;
            box-shadow: 0px 0px 9px 2px rgb(225, 224, 224);
            .selectBoox{
                float: right;
                clear: both;
            }
            .title{
                clear: both;
            }
        }
    }
}
