*{
    box-sizing: border-box;
}

.Modal{
    .ModalCard{
        .ModalCardContent{
            display: flex;
            .Content_meta{
                margin-right: auto;
            }
            // .Button{
            //     margin-right: auto;
            //     display: flex;
            //     justify-content: end;
            // }
        }
            .ant-card-body{
                padding: 20px 24px;
                .ant-card-meta{
                    .ant-card-meta-title{
                        margin-bottom: 0;
                    }
                }
            }
    }
}
.ant-modal-content{
    padding-bottom: 30px;
    .ant-modal-body{
        padding: 0 24px;
        font-size: 14px;
        line-height: 1.5715;
        word-wrap: break-word;
        .ant-row{
            // display: inline-block;
            .ant-col-22{
                display: inherit;
            }
        }
    }
    .ant-modal-footer{
        display: none;
    }
.ant-modal-close {
    position: absolute;
    top: -10;
    right: -50px;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: rgb(140, 140, 140);
    color: white;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s;
    .ant-modal-close-x {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 30px;
        font-style: normal;
        line-height: 35px;
        text-align: center;
        text-transform: none;
        text-rendering: auto;
    }
}
}
.cards{
    box-shadow: 0 0 6px 2px rgb(140, 139, 139);
    margin: 18px 0 ;
  
}
@media screen and(max-width:"475px") {
    .Modal{
        .ModalCard{
            .ModalCardContent{
                display: block;
                .Content_meta{
                    padding-bottom: 10px;
                }
            }
        }
    }
    .ant-modal-content{
        .ant-modal-close{
            position: absolute;
    top: -50px;
    left: 0px;


        }
    }
    
}