.FooterContainer{
    background: rgb(2, 62, 71);
    padding-top: 1rem;
    .cols{
        padding-top: 1rem;
    }
    .FootTypography{
        .title{
            color: white;
        } 
        .para{
            color: white;
            .Links{
                color: white;
            }
        }
    }
}