*{
    margin: 0;
    padding: 0;
}
.hdcon{
    background-color: rgb(2, 62, 71);
    padding: 9px 0 10px 0;
    margin-bottom: 3px;
    .mainRow{
        .logo{
            padding-left: 2rem;
            .logotext{
                margin: 0;
                background: -webkit-linear-gradient(rgb(216, 84, 177), rgb(228, 219, 219));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .menuicon{
            display: none;
        }
        .Allbtn{
            padding-right: 3rem;
            .btnspace{
                .btn{
                    font-size: 20px;
                    padding: 0;
                    padding: 0 12px;
                    height: 40px;
                    border-radius: 5px;
                }
                .loginMode{
                    display: none;
                }
            }
        }
        .is_active{
            .btn{
                border: 2px solid white;
            }
        }
        .menuicon{
            padding-right: 3rem;
        }
    }
}
@media screen and (max-width:1024px)  {
    .hdcon{
        .mainRow{
            .menuicon{
                display: block;
            }
            .btnContent{
                display: none;
            }
            .isMobail{
                display: block;
                position: absolute;
                width: 100%;
                background-color: rgb(2, 62, 71);
                top: 55px;
                padding: 10px 0;
                height: 100vh;
                z-index: 2;
                .btnspace{
                    width: 80%;
                    .btn{
                        width: 100%;
                        border-radius:5px;
                    }
                }
            }
        }
    }
}